---
layout: default
title: Weekly Wind and Renewables Podcast
---

    {% for post in site.posts %}
      <div class="pure-g blog-item">
        <div class="pure-u">
            <div class="blog-item-inner">
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                {% if post.mp3 %}
                    <audio controls="controls">  
                        <source src="music.ogg" />  
                        <source src="{{site.url}}/downloads/{{post.mp3}}" />  
                    </audio> 
                {% endif %}
            </div>
        </div>    
      </div>
    {% endfor %}

